<!DOCTYPE html>
<html lang="en">
<head>
    <head th:replace="head"></head>
    <title>衣柜审核</title>
    <link href="https://admin.offway.cn/assets/js/select2/select2.css" rel="stylesheet"/>
    <link href="https://admin.offway.cn/assets/js/select2/select2-bootstrap.css" rel="stylesheet"/>
    <link href="https://admin.offway.cn/assets/css/jquery.datetimepicker.min.css" rel="stylesheet"/>
    <link href="https://admin.offway.cn/assets/css/jquery-editable-select.min.css" rel="stylesheet"/>
    <script src="https://unpkg.com/qiniu-js@2.5.3/dist/qiniu.min.js"></script>
    <style type="text/css">
        .form-group img {
            max-width: 400px;
            max-height: 300px;
        }
    </style>
</head>
<body class="hold-transition skin-black light-sidebar sidebar-mini">
<div class="wrapper">
    <header th:replace="navbar"></header>
    <aside th:replace="sidebar-menu"></aside>
    <div class="content-wrapper">
        <div class="content-header d-none d-md-block">
            <div class="d-flex align-items-center">
                <div class="mr-auto">
                    <h1 class="title">衣柜审核</h1>
                </div>
                <div class="right-title">
                </div>
            </div>
        </div>
        <section class="content">
            <div class="row">
                <div class="col-12">
                    <div class="box">
                        <div class="box-header with-border">
                            <form class="form-inline" role="form">
                                <div class="form-group">
                                    <div class="input-group">
                                        <label class="control-label" for="brandId">品牌</label>
                                    </div>
                                </div>
                                <div class="form-group">
                                    <div class="input-group">
                                        <select class="form-control" id="brandId" name="brandId"
                                                style="height:35px">
                                            <option selected="selected" value="">全部</option>
                                            <option th:each="brand : ${brands}" th:text="${brand.name}"
                                                    th:value="${brand.id}"></option>
                                        </select>
                                    </div>
                                </div>
                                <div class="form-group">
                                    <div class="input-group">
                                        <input class="form-control" name="goodsName" placeholder="商品名"
                                               style="height:35px"
                                               type="text"/>
                                    </div>
                                </div>
                                <div class="form-group">
                                    <div class="input-group">
                                        <input class="form-control" name="goodsId" placeholder="商品ID"
                                               style="height:35px"
                                               type="text"/>
                                    </div>
                                </div>
                                <div class="form-group">
                                    <div class="input-group">
                                        <label class="control-box" for="state">状态</label>
                                    </div>
                                </div>
                                <div class="form-group">
                                    <div class="input-group">
                                        <select class="form-control" id="state" name="state" style="height:35px">
                                            <option selected="selected" value="">全部</option>
                                            <option value="2">拒绝</option>
                                            <option value="1">通过</option>
                                            <option value="0">待审核</option>
                                        </select>
                                    </div>
                                </div>

                                <div class="form-group">
                                    <div class="input-group">
                                        <label class="control-box" for="type">主分类</label>
                                    </div>
                                </div>
                                <div class="form-group">
                                    <div class="input-group">
                                        <select class="form-control" id="type" name="type"
                                                onchange="renderCategory(this)"
                                                style="height:35px">
                                            <option selected="selected" value="">全部</option>
                                        </select>
                                    </div>
                                </div>
                                <div class="form-group">
                                    <div class="input-group">
                                        <label class="control-box" for="category">子分类</label>
                                    </div>
                                </div>
                                <div class="form-group">
                                    <div class="input-group">
                                        <select class="form-control" id="category" name="category"
                                                onchange="renderKind(this)"
                                                style="height:35px">
                                            <option selected="selected" value="">全部</option>
                                        </select>
                                    </div>
                                </div>
                                <div class="form-group">
                                    <div class="input-group">
                                        <label class="control-box" for="kind">三级分类</label>
                                    </div>
                                </div>
                                <div class="form-group">
                                    <div class="input-group">
                                        <select class="form-control" id="kind" name="kind" style="height:35px">
                                            <option selected="selected" value="">全部</option>
                                        </select>
                                    </div>
                                </div>
                                <div class="form-group">
                                    <button class="btn btn-primary searchBtn">查询</button>
                                </div>
                            </form>
                        </div>
                        <div class="box-body">
                            <table cellspacing="0" class="table table-striped table-bordered" id="example-1"
                                   width="100%">
                            </table>
                        </div>
                        <div class="box-footer">
                        </div>
                    </div>
                </div>
            </div>
        </section>
    </div>
    <!--			<button class="btn btn-info pass">同意</button>-->
    <!--			<button class="btn btn-info reject">拒绝</button>-->
    <footer th:replace="footer"></footer>
</div>

<div aria-hidden="false" class="modal fade in" id="preview" style="display: none;">
    <div class="modal-dialog">
        <div class="modal-content">

            <div class="modal-header">
                <button aria-hidden="true" class="close" data-dismiss="modal" type="button">×
                </button>
                <h4 class="modal-title">查看详情</h4>
            </div>

            <div class="modal-body" id="preview_body"></div>

            <div class="modal-footer">
                <button class="btn btn-danger" data-dismiss="modal" type="button">关闭</button>
            </div>
        </div>
    </div>
</div>
<input id="type_and_category_list" type="hidden"/>
<script src="https://admin.offway.cn/js/common1.js"></script>
<script src="https://admin.offway.cn/assets/js/moment.min.js"></script>
<script src="https://admin.offway.cn/assets/js/jquery.datetimepicker.full.min.js"></script>
<script src="https://admin.offway.cn/assets/js/select2/select2.min.js"></script>
<script src="https://admin.offway.cn/assets/js/async.min.js"></script>
<script src="https://admin.offway.cn/assets/js/jquery-editable-select.js"></script>
<script th:inline="javascript">
    /*<![CDATA[*/

    function formatTime(time) {
        return new Date(time).Format("yyyy-MM-dd hh:mm:ss");
    }

    function buildImg(url) {
        return "<img width='48px' height='48px' src='#' />".replace("#", url);
    }

    function appendToPreviewList(one, two, three, four, five, six) {
        return '<div class="row">' +
            '<div class="col-md-2">' +
            one +
            '</div>' +
            '<div class="col-md-2">' +
            two +
            '</div>' +
            '<div class="col-md-2">' +
            three +
            '</div>' +
            '<div class="col-md-2">' +
            four +
            '</div>' +
            '<div class="col-md-2">' +
            five +
            '</div>' +
            '<div class="col-md-2">' +
            six +
            '</div>' +
            '</div>';
    }

    function appendToPreview(key, value) {
        return '<div class="row">' +
            '<div class="col-md-2">' +
            key +
            '</div>' +
            '<div class="col-md-10">' +
            value +
            '</div>' +
            '</div>';
    }

    function checkIt(id) {
        $.post("/audit_findOne", {"id": id}, function (data) {
            if (data) {
                var preview = $("#preview_body");
                var contentStr = "";
                var mainObj = data;
                contentStr += appendToPreview("编号:", mainObj["id"]);
                contentStr += appendToPreview("衣柜id:", mainObj["wardrobeId"]);
                contentStr += appendToPreview("微信开放平台帐号:", mainObj["unionid"]);
                contentStr += appendToPreview("使用艺人:", mainObj["useName"]);
                contentStr += appendToPreview("使用用途:", mainObj["content"]);
                contentStr += appendToPreview("商品ID:", mainObj["goodsId"]);
                contentStr += appendToPreview("商品名称:", mainObj["goodsName"]);
                contentStr += appendToPreview("封面图片:", buildImg(mainObj["image"]));
                contentStr += appendToPreview("品牌ID:", mainObj["brandId"]);
                contentStr += appendToPreview("品牌名称:", mainObj["brandName"]);
                contentStr += appendToPreview("品牌LOGO:", buildImg(mainObj["brandLogo"]));
                contentStr += appendToPreview("返图时间:", formatTime(mainObj["photoDate"]));
                contentStr += appendToPreview("使用时间:", formatTime(mainObj["useDate"]));
                contentStr += appendToPreview("归还时间:", formatTime(mainObj["returnDate"]));
                contentStr += appendToPreview("创建时间:", formatTime(mainObj["createTime"]));
                contentStr += appendToPreview("状态[0-待审核,1-通过,2-拒绝]:", mainObj["state"]);
                contentStr += "<hr/>";
                preview.html(contentStr);
                jQuery('#preview').modal('show', {backdrop: 'fade'});
            } else {
                toastr.error("操作失败", "温馨提示");
            }
        });
    }

    function bindTypeSelector(data) {
        var typeStr = "<option value=\"\" selected=\"selected\">全部</option>";
        for (var type in data) {
            type = data[type];
            typeStr += '<option value="VALUE">KEY</option>'.replace("VALUE", type["name"]).replace("KEY", type["name"]);
        }
        $("#type").html(typeStr);
        bindCategorySelector(data[0]["sub"]);
    }

    function bindCategorySelector(data) {
        var categoryStr = "<option value=\"\" selected=\"selected\">全部</option>";
        for (var category in data) {
            category = data[category];
            categoryStr += '<option value="VALUE">KEY</option>'.replace("VALUE", category["name"]).replace("KEY", category["name"]);
        }
        $("#category").html(categoryStr);
        bindKindSelector(data[0]["sub"]);
    }

    function bindKindSelector(data) {
        var kindStr = "<option value=\"\" selected=\"selected\">全部</option>";
        for (var kind in data) {
            kind = data[kind];
            kindStr += '<option value="VALUE">KEY</option>'.replace("VALUE", kind["name"]).replace("KEY", kind["name"]);
        }
        $("#kind").html(kindStr);
    }

    function bindBrandSelector(data) {
        var categoryStr = "<option value=\"0\" selected=\"selected\">全部</option>";
        for (var category in data) {
            category = data[category];
            categoryStr += '<option value="VALUE">KEY</option>'.replace("VALUE", category["id"]).replace("KEY", category["name"]);
        }
        //$("#brandId").html(categoryStr);
        $("#brandId").editableSelect();
    }

    function renderCategory(self) {
        var jsonStr = $("#type_and_category_list").val();
        var list = JSON.parse(jsonStr);
        var selectedId = $(self).val();
        for (var type in list) {
            if (selectedId == list[type]["name"]) {
                bindCategorySelector(list[type]["sub"]);
                break;
            }
        }
    }

    function renderKind(self) {
        var jsonStr = $("#type_and_category_list").val();
        var list = JSON.parse(jsonStr);
        var selectedId = $(self).val();
        loop:for (var type of list) {
            if (type["name"] != $("#type").val()) {
                continue;
            }
            for (var category of type["sub"]) {
                if (selectedId == category["name"]) {
                    bindKindSelector(category["sub"]);
                    break loop;
                }
            }
        }
    }

    function renderBrand() {
        $.getJSON("/brand_list_all", {}, function (data) {
            bindBrandSelector(data);
        });
    }

    function upIt(id, self) {
        $.post("/audit_up", {"id": id}, function (data) {
            if (data) {
                $(self).val("已通过");
                //remove old handler
                $(self).prop("onclick", null);
                $(self).removeAttr("onclick");
                $(self).off("click");
                table_global.fnDraw();  //or fnReloadAjax()
                toastr.success("操作已成功！", "温馨提示");
            } else {
                toastr.error("操作失败", "温馨提示");
            }
        });
    }

    function downIt(id, self) {
        var str = prompt("输入拒绝理由", "");
        $.post("/audit_down", {"id": id, "str": str ? str : "无"}, function (data) {
            if (data) {
                $(self).val("已拒绝");
                //remove old handler
                $(self).prop("onclick", null);
                $(self).removeAttr("onclick");
                $(self).off("click");
                table_global.fnDraw();  //or fnReloadAjax()
                toastr.success("操作已成功！", "温馨提示");
            } else {
                toastr.error("操作失败", "温馨提示");
            }
        });
    }

    var brandId = [[${brandId}]];
    var table_global;
    jQuery(document).ready(function ($) {
        var oTable;
        renderBrand();
        oTable = $("#example-1").dataTable({
            language: {
                url: "../assets/Chinese.txt"
            },
            bFilter: false,
            bServerSide: true,//服务器处理分页，默认是false，需要服务器处理，必须true
            sAjaxDataProp: "aData",//是服务器分页的标志，必须有
            sAjaxSource: "/audit_list",//通过ajax实现分页的url路径。
            fnServerParams: function (aData) {
                var searchArray = $(".form-inline").serializeArray();
                var brandId = $("#brandId").parent().find("li.es-visible").val();
                if (brandId != "0") {
                    searchArray.push({"name": "brandId", "value": brandId});
                } else {
                    searchArray.push({"name": "brandId", "value": ""});
                }
                $.merge(aData, searchArray);
            },
            columnDefs: [
                {
                    targets: 0,
                    data: "id",
                    width: "5%",
                    orderable: false,
                    title: '<div class="checkbox"><input type="checkbox" id="checkbox-all"><label for="checkbox-all"></label></div>',
                    render: function (data, type, full, meta) {
                        var uuid = UUID.randomUUID();
                        return '<div class="checkbox"><input type="checkbox" name="activityId" id="UUID" value="DATA"><label for="UUID"></label></div>'.replace(/UUID/g, uuid).replace("DATA", data);
                    }
                },
                {
                    targets: 1,
                    data: "id",
                    title: "序号"
                },
                {
                    targets: 2,
                    data: "wardrobeId",
                    title: "衣柜id"
                },
                {
                    targets: 3,
                    data: "useName",
                    title: "使用艺人"
                },
                {
                    targets: 4,
                    data: "content",
                    title: "使用用途"
                },
                {
                    targets: 5,
                    data: "goodsId",
                    title: "商品ID"
                },
                {
                    targets: 6,
                    data: "goodsName",
                    title: "商品名称"
                },
                {
                    targets: 7,
                    data: "size",
                    title: "尺码"
                },
                {
                    targets: 8,
                    data: "color",
                    title: "颜色"
                },
                {
                    targets: 9,
                    data: "image",
                    title: "封面图片",
                    render: function (data, type, row, meta) {
                        return buildImg(data);
                    }
                },
                {
                    targets: 10,
                    data: "brandName",
                    title: "品牌名称"
                },
                {
                    targets: 11,
                    data: "brandLogo",
                    title: "品牌LOGO",
                    render: function (data, type, row, meta) {
                        return buildImg(data);
                    }
                },
                {
                    targets: 12,
                    data: "useDate",
                    title: "使用时间",
                    render: function (data, type, row, meta) {
                        return formatTime(data);
                    }
                },
                {
                    targets: 13,
                    data: "photoDate",
                    title: "返图时间",
                    render: function (data, type, row, meta) {
                        return formatTime(data);
                    }
                },
                {
                    targets: 14,
                    data: "returnDate",
                    title: "归还时间",
                    render: function (data, type, row, meta) {
                        return formatTime(data);
                    }
                },
                {
                    targets: 15,
                    data: "state",
                    title: "审核状态",
                    render: function (data, type, row, meta) {
                        var map = ["待审核", "通过", "拒绝"];
                        var state = map[parseInt(data)];
                        if (data == 0) {
                            return '<span class="label label-warning">' + state + '</span>';
                        } else if (data == 1) {
                            return '<span class="label label-success">' + state + '</span>';
                        } else {
                            return '<span class="label label-danger">' + state + '</span>';
                        }
                    }
                },
                {
                    targets: 16,
                    data: "isDel",
                    title: "衣柜状态",
                    render: function (data, type, row, meta) {
                        //是否删除[0-未删除,1-删除,2-已下单]
                        switch (data) {
                            case "1":
                                return '<span class="label label-warning">删除</span>';
                            case "2":
                                return '<span class="label label-success">已提交</span>';
                            case "0":
                                var useDate = row["useDate"];
                                var now = new Date();
                                var twoDaysLater = now + 3600 * 60 * 24 * 2;
                                if (useDate < now || useDate < twoDaysLater) {
                                    return '<span class="label label-warning">已失效</span>';
                                } else {
                                    return '<span class="label label-success">正常</span>';
                                }
                        }
                    }
                },
                {
                    targets: 17,
                    data: "createTime",
                    title: "创建时间",
                    render: function (data, type, row, meta) {
                        return formatTime(data);
                    }
                },
                {
                    targets: 18,
                    data: "reason",
                    title: "拒绝理由"
                },
                {
                    targets: 19,
                    data: "id",
                    orderable: false,
                    title: "操作",
                    render: function (data, type, full, meta) {
                        var str = "";
                        if (full["state"] == "0" && full["isDel"] != "1") {
                            str += '<input type="button" class="btn btn-outline btn-success" name="checkIt" onclick="upIt(' + data + ',this)" value="通过"/>';
                            str += '<input type="button" class="btn btn-outline btn-danger" name="checkIt" onclick="downIt(' + data + ',this)" value="拒绝"/>';
                        }
                        return str + '<input type="button" class="btn btn-outline btn-primary" name="checkIt" onclick="checkIt(' + data + ')" value="查看详情"/>'
                    }
                }
            ]
        });
        table_global = oTable;

        $.getJSON("/type_and_category_list", {}, function (data) {
            $("#type_and_category_list").val(JSON.stringify(data));
            bindTypeSelector(data);
        });

        $(".searchBtn").click(function () {
            $("#checkbox-all").attr("checked", false);
            oTable.fnDraw(); //or fnReloadAjax()
            return false;
        });

        $('#example-1').on('click', "#checkbox-all", function () {
            var obj = $(this);
            $("input[name='activityId']").each(function (i, e) {
                this.checked = obj[0].checked;
            });
        });
    });
    /*]]>*/
</script>
</body>

</html>