<!DOCTYPE html>
<html lang="en">
<head>
	<head th:replace="head"></head>
	<title>商品库存管理</title>
	<link rel="stylesheet" href="https://admin.offway.cn/assets/js/select2/select2.css"/>
	<link rel="stylesheet" href="https://admin.offway.cn/assets/js/select2/select2-bootstrap.css"/>
	<script src="https://unpkg.com/qiniu-js@2.5.3/dist/qiniu.min.js"></script>
	<style type="text/css">
	.form-group img{
		max-width:400px;
		max-height:300px;
	}
	</style>
</head>
<body class="page-body">

	<div class="page-container"><!-- add class "sidebar-collapsed" to close sidebar by default, "chat-visible" to make chat appear always -->
			
		<div th:replace="sidebar-menu"></div>
		<div class="main-content">
			<!-- User Info, Notifications and activity Bar -->
			<nav th:replace="navbar"></nav>
			<div class="page-title">
				
				<div class="title-env">
					<h1 class="title">商品库存管理</h1>
					<p class="activityDescription"></p>
				</div>

				<div class="breadcrumb-env">

					<ol class="breadcrumb bc-1">
						<li><a href="/"><i class="fa-home"></i>Home</a></li>
						<li><a>系统管理</a></li>
						<li class="active"><strong>商品库存管理</strong></li>
					</ol>

				</div>

			</div>
			
			<div class="panel panel-default">
				<div class="panel-heading">
					<form role="form" class="form-inline">
						<div class="form-group" style="margin-bottom: 15px;">
							<div class="input-group">
								<input type="text" name="remark" class="form-control" style="height:35px" placeholder="库存备注名"/>
							</div>
						</div>
						<div class="form-group" style="margin-bottom: 15px;">
							<button class="btn btn-secondary btn-single searchBtn" style="height:35px">查询</button>
						</div>
					</form>
				</div>
				<div class="panel-body">
					<table id="example-1" class="table table-striped table-bordered" cellspacing="0" width="100%">
					</table>
					
				</div>
				<button class="btn btn-info del">删除</button>
				<button class="btn btn-info editStock">修改库存</button>
			</div>
			
					
			<footer th:replace="footer"></footer>
		</div>
	</div>
	
	<div th:replace="body-under"></div>

	<div class="modal fade in" id="preview" aria-hidden="false" style="display: none;">
		<div class="modal-dialog">
			<div class="modal-content">

				<div class="modal-header">
					<button type="button" class="close" data-dismiss="modal" aria-hidden="true">×</button>
					<h4 class="modal-title">查看详情</h4>
				</div>

				<div class="modal-body" id="preview_body"></div>

				<div class="modal-footer">
					<button type="button" class="btn btn-white" data-dismiss="modal">关闭</button>
				</div>
			</div>
		</div>
	</div>

	<script src="https://admin.offway.cn/js/common1.js"></script>
	<script src="https://admin.offway.cn/assets/js/moment.min.js"></script>
	<script src="https://admin.offway.cn/assets/js/select2/select2.min.js"></script>
	<script src="https://admin.offway.cn/assets/js/async.min.js"></script>
	<script th:inline="javascript">
	/*<![CDATA[*/

    function formatTime(time) {
        return new Date(time).Format("yyyy-MM-dd hh:mm:ss");
    }

    function buildImg(url) {
        return "<img width='100px' height='100px' src='#' />".replace("#", url);
    }

	function appendToPreview(key, value) {
		return '<div class="row">' +
				'<div class="col-md-2">' +
				key +
				'</div>' +
				'<div class="col-md-10">' +
				value +
				'</div>' +
				'</div>';
	}

    function checkIt(id) {
        $.post("/goods_stock_find", {"id": id}, function (data) {
            if (data) {
                var preview = $("#preview_body");
                var contentStr = "";
                var mainObj = data["main"];
                contentStr += appendToPreview("编号:", mainObj["id"]);
                contentStr += appendToPreview("一级分类:", mainObj["type"]);
                contentStr += appendToPreview("二级分类:", mainObj["category"]);
				contentStr += appendToPreview("三级分类:", mainObj["kind"]);
                contentStr += appendToPreview("SKU编码:", mainObj["sku"]);
                contentStr += appendToPreview("库存余量:", mainObj["stock"]);
                contentStr += appendToPreview("库存图片:", buildImg(mainObj["image"]));
                contentStr += appendToPreview("商品ID:", mainObj["goodsId"]);
                contentStr += appendToPreview("商品名称:", mainObj["goodsName"]);
                contentStr += appendToPreview("封面图片:", buildImg(mainObj["goodsImage"]));
                contentStr += appendToPreview("品牌id:", mainObj["brandId"]);
                contentStr += appendToPreview("品牌名:", mainObj["brandName"]);
                contentStr += appendToPreview("品牌logo:", buildImg(mainObj["brandLogo"]));
                contentStr += appendToPreview("创建时间:", formatTime(mainObj["createTime"]));
                contentStr += appendToPreview("备注:", mainObj["remark"]);
                contentStr += "<hr/>";
                for (var a in data["propertyList"]) {
                    a = data["propertyList"][a];
                    contentStr += appendToPreview("商品规格名称:", a["name"]);
                    contentStr += appendToPreview("商品属性值:", a["value"]);
                    contentStr += appendToPreview("备注:", a["remark"]);
                    contentStr += appendToPreview("排序:", a["sort"]);
                }
                preview.html(contentStr);
                jQuery('#preview').modal('show', {backdrop: 'fade'});
                toastr.success("操作已成功！", "温馨提示");
            } else {
                toastr.error("操作失败", "温馨提示");
            }
        });
    }

	var table_global;
	var qiniuUrl = [[${qiniuUrl}]];
	var theId = [[${theId}]];
	jQuery(document).ready(function($)
	{
		var oTable = $("#example-1").dataTable({
			language: {
                url: "../assets/Chinese.txt"
            },
			bFilter : false,
			bServerSide : true,//服务器处理分页，默认是false，需要服务器处理，必须true
            sAjaxDataProp : "aData",//是服务器分页的标志，必须有   
            sAjaxSource : "/goods_stock_list",//通过ajax实现分页的url路径。
			fnServerParams: function (aData) {
				var searchArray = $(".form-inline").serializeArray();
				$.merge(aData, searchArray);
				aData.push({"name": "theId", "value": theId});//append pid
			},
			columnDefs: [
				{
					targets: 0,
					data: "id",
					width: "5%",
					orderable: false,
					className: 'select-checkbox',
					title: '<input type="checkbox" id="checkbox-all"/>',
					render: function (data, type, full, meta) {
						return '<input type="checkbox" name="activityId" value="' + data + '" />';
					}
				},
				{
					targets: 1,
					data: "id",
					title: "序号"
				},
				{
					targets: 2,
					data: "goodsId",
					title: "商品ID"
				},
				{
					targets: 3,
					data: "goodsName",
					title: "商品名称"
				},
				{
					targets: 4,
					data: "goodsImage",
					title: "封面图片",
					render: function (data, type, row, meta) {
						return buildImg(data);
					}
				},
				{
					targets: 5,
					data: "image",
					title: "库存图片",
					render: function (data, type, row, meta) {
						return buildImg(data);
					}
				},
				{
					targets: 6,
					data: "brandId",
					title: "品牌ID"
				},
				{
					targets: 7,
					data: "brandName",
					title: "品牌名称"
				},
				{
					targets: 8,
					data: "brandLogo",
					title: "品牌LOGO",
					render: function (data, type, row, meta) {
						return buildImg(data);
					}
				},
				{
					targets: 9,
					data: "type",
					title: "类别"
				},
				{
					targets: 10,
					data: "category",
					title: "类目"
				},
				{
					targets: 11,
					data: "kind",
					title: "分类"
				},
				{
					targets: 12,
					data: "stock",
					title: "库存余量"
				},
				{
					targets: 13,
					data: "sku",
					title: "SKU编码"
				},
				{
					targets: 14,
					data: "createTime",
					title: "创建时间",
					render: function (data, type, row, meta) {
						return new Date(data).Format("yyyy-MM-dd hh:mm:ss");
					}
				},
				{
					targets: 15,
					data: "remark",
					title: "备注"
				},
				{
					targets: 16,
					data: "id",
					orderable: false,
					title: "操作",
					render: function (data, type, full, meta) {
						return '<input type="button" name="checkIt" onclick="checkIt(' + data + ')" value="查看详情"/>';
					}
				}
			]
		});

		table_global = oTable;
		
		$(".searchBtn").click(function(){
			$("#checkbox-all").attr("checked", false);
			oTable.fnDraw(); //or fnReloadAjax()  
			return false;
		});

        $(".btn.btn-info.del").click(function () {
            var activityId = $("input[name='activityId']:checked");
            if (activityId.length < 1) {
                toastr.error("请至少选择一条数据操作", "温馨提示");
                return;
            }

            var ids = [];
            activityId.each(function (i, e) {
                ids.push(e.value);
            });

            $.post("/goods_stock_del", {ids: ids}, function (data) {
                if (data) {
                    toastr.success("操作已成功！", "温馨提示");
                    oTable.fnDraw();
                }
            })
        });

		$(".btn.btn-info.editStock").click(function () {
			var activityId = $("input[name='activityId']:checked");
			if (activityId.length < 1) {
				toastr.error("请至少选择一条数据操作", "温馨提示");
				return;
			}

			var ids = [];
			activityId.each(function (i, e) {
				ids.push(e.value);
			});
			var stock = prompt("请输入库存数量,正数(如 10 )代表增加，负数(如 -10 )表示减少", "0");
			if (isNaN(stock) || stock == null) {
				stock = 0;
			}
			$.post("/goods_stock_update_stock", {"ids": ids, "stock": stock}, function (data) {
				if (data) {
					toastr.success("操作已成功！", "温馨提示");
					oTable.fnDraw();
				}
			});
		});
	});
	/*]]>*/
	</script>
</body>

</html>
