<!DOCTYPE html>
<html lang="en">
<head>
	<head th:replace="head"></head>
	<title>返图查看</title>
	<script src="js/qiniu.min.js"></script>
	<link rel="stylesheet" href="assets/js/jquery-editable-select-master/jquery-editable-select.css"/>
	<style type="text/css">
		.form-group img {
			max-width: 400px;
			max-height: 300px;
		}

		a {
			color: blue;
			text-decoration: none;
		}
		#div1 img{
			cursor: pointer;
			transition: all 0.6s;
		}
		#div1 img:hover{
			transform: scale(10);
		}
	</style>
</head>
<body class="hold-transition skin-black light-sidebar sidebar-mini">
<div class="wrapper">
	<header th:replace="navbar"></header>
	<aside th:replace="sidebar-menu"></aside>
	<div class="content-wrapper">
		<div class="content-header d-none d-md-block">
			<!-- User Info, Notifications and activity Bar -->
			<div class="d-flex align-items-center">

				<div class="mr-auto">
					<h3 class="title">返图查看</h3>
				</div>

				<div class="right-title">
				</div>
			</div>
		</div>
		<section class="content">
			<div class="row">
				<div class="col-12">
					<div class="box">
						<div class="box-header with-border">
							<form class="form-inline" role="form">
								<div class="form-group ">
									<div class="input-group">
										<select id="brandId" name="brandId" class="form-control" style="height:35px" placeholder="品牌">
											<option  th:each="brand : ${brands}" th:value="${brand.id}" th:text="${brand.name}"></option>
										</select>
									</div>
								</div>
								<div class="form-group">
									<button class="btn btn-primary searchBtn" style="height:38px">查询</button>
								</div>
							</form>
						</div>
						<div class="box-body">
							<div class="table-responsive">
								<table class="table table-bordered table-striped" id="example-1">
								</table>
							</div>
						</div>
						<!-- /.box-body -->
						<div class="box-footer">
						</div>
						<!-- /.box-footer-->
					</div>
				</div>
			</div>
		</section>
	</div>

	<footer th:replace="footer"></footer>
</div>
<div class="modal fade in" data-backdrop="static" id="modal-goods">
	<div class="modal-dialog">
		<div class="modal-content" style="width: 800px;">
			<div class="modal-header">
				<button type="button" class="close" data-dismiss="modal" aria-hidden="true">×</button>
				<h4 class="modal-title">商品明细</h4>
			</div>
			<div class="modal-body">
				<table class="table table-bordered table-striped">
					<thead>
					<tr>
						<th>SKU编码</th>
						<th style="width:120px">商品图片</th>
						<th>商品名称</th>
						<!-- <th>品牌LOGO</th> -->
						<th>品牌名称</th>
						<th>尺码</th>
						<th>颜色</th>
					</tr>
					</thead>
					<tbody>
					</tbody>
				</table>
			</div>
			<div class="modal-footer">
				<button type="button" class="btn btn-white" data-dismiss="modal">关闭</button>
			</div>
		</div>
	</div>
</div>
<script src="assets/js/jquery-editable-select-master/jquery-editable-select.js"></script>
<script src="assets/js/pictureViewer.js"></script>
<script th:inline="javascript">
	/*<![CDATA[*/

	function formatTime(time) {
		return new Date(time).Format("yyyy-MM-dd hh:mm:ss");
	}

	function formatDate(time) {
		return new Date(time).Format("yyyy-MM-dd");
	}

	function buildImg(url) {
		return "<div id='div1'><img width='48px' height='48px' src='#' /></div>".replace("#", url);
	}

	jQuery(document).ready(function ($) {
		$("#brandId").editableSelect();
		var oTable = $("#example-1").dataTable({
			language: {
				url: "../assets/Chinese.txt"
			},
			bFilter: false,
			bServerSide: true,//服务器处理分页，默认是false，需要服务器处理，必须true
			sAjaxDataProp: "aData",//是服务器分页的标志，必须有
			sAjaxSource: "/showImageFilter-data",//通过ajax实现分页的url路径。
			fnServerParams: function (aData) {
				var searchArray = $(".form-inline").serializeArray();
				var brandId = $("#brandId").parent().find("li.es-visible").val();
				if (brandId != "0") {
					searchArray.push({"name": "brandId", "value": brandId});
				} else {
					searchArray.push({"name": "brandId", "value": ""});
				}
				$.merge(aData, searchArray);
			},
			order: [[0, "desc"]],
			columnDefs: [
				{
					targets: 0,
					data: "id",
					title: "序号"
				},
				{
					targets: 1,
					data: "brandLogo",
					title: "品牌LOGO",
					render: function (data, type, row, meta) {
						return buildImg(data);
					}
				},
				{
					targets: 2,
					data: "brandName",
					title: "品牌名称"
				},
				{
					targets: 3,
					data: "showImage",
					title: "明星返图",
					render: function (data, type, row, meta) {
						var a = data.split(",");
						var html = "<div class=\"image-list\">";
						$.each(a, function (i, e) {
							html += "<div class=\"cover\" index=" + i + "><img src=" + e + "></img></div><p></p>";
						});
						html += "</div>";
						return html;
					}
				},
				{
					targets: 4,
					data: "starName",
					title: "艺人名称"
				},
				{
					targets: 5,
					data: "useDate",
					title: "艺人使用时间",
					render: function (data, type, row, meta) {
						return formatTime(data);
					}
				},
				{
					targets: 6,
					data: "createTime",
					title: "返图时间",
					render: function (data, type, row, meta) {
						return formatTime(data);
					}
				}
			]
		});

		$(".searchBtn").click(function () {
			oTable.fnDraw();  //or fnReloadAjax()
			return false;
		});

		$("body").on("click", ".image-list .cover", function () {
			var this_ = $(this);
			var images = this_.parents('.image-list').find('.cover');
			var imagesArr = [];
			$.each(images, function (i, image) {
				imagesArr.push($(image).children('img').attr('src'));
			});
			$.pictureViewer({
				images: imagesArr, //需要查看的图片，数据类型为数组
				initImageIndex: parseInt(this_.attr("index")) + 1, //初始查看第几张图片，默认1
				scrollSwitch: true //是否使用鼠标滚轮切换图片，默认false
			});
		});
	});
	/*]]>*/
</script>
</body>
</html>