<!DOCTYPE html>
<html lang="en">
<head>
	<head th:replace="head"></head>
	<title>库存管理</title>
	<script src="js/qiniu.min.js"></script>
	<link rel="stylesheet" href="assets/js/jquery-editable-select-master/jquery-editable-select.css"/>
	<style type="text/css">
		.form-group img {
			max-width: 400px;
			max-height: 300px;
		}
	</style>
</head>
<body class="hold-transition skin-black light-sidebar sidebar-mini">
<div class="wrapper">
	<header th:replace="navbar"></header>
	<aside th:replace="sidebar-menu"></aside>
	<div class="content-wrapper">
		<div class="content-header d-none d-md-block">
			<!-- User Info, Notifications and activity Bar -->
			<div class="d-flex align-items-center">

				<div class="mr-auto">
					<h3 class="title">库存管理</h3>
				</div>

				<div class="right-title">
				</div>
			</div>
		</div>
		<section class="content">
			<div class="row">
				<div class="col-12">
					<div class="box">
						<div class="box-header with-border">
							<form class="form-inline" role="form">
								<div class="form-group ">
									<div class="input-group">
										<select id="brandId" name="brandId" class="form-control" style="height:35px" placeholder="品牌">
											<option value="">品牌</option>
											<option  th:each="brand : ${brands}" th:value="${brand.id}" th:text="${brand.name}"></option>
										</select>
									</div>
								</div>
								<div class="form-group ">
									<div class="input-group">
										<select name="isOffway" class="form-control" style="height:35px">
											<option value="">是否限定</option>
											<option value="0">限定</option>
											<option value="1">非限定</option>
										</select>
									</div>
								</div>
								<div class="form-group ">
									<div class="input-group">
										<input type="text" name="goodsId" class="form-control" style="height:35px" placeholder="商品ID" value=""/>
									</div>
								</div>
								<div class="form-group ">
									<div class="input-group">
										<input type="text" name="goodsName" class="form-control" style="height:35px" placeholder="商品名称" value=""/>
									</div>
								</div>
								<div class="form-group ">
									<div class="input-group">
										<select name="size" class="form-control" style="height:35px">
											<option value="">尺码</option>
											<option value="均码">均码</option>
											<option value="XS">XS</option>
											<option value="S">S</option>
											<option value="M">M</option>
											<option value="L">L</option>
											<option value="XL">XL</option>
											<option value="36">36</option>
											<option value="36.5">36.5</option>
											<option value="37">37</option>
											<option value="38">38</option>
											<option value="39">39</option>
											<option value="40">40</option>
											<option value="41">41</option>
											<option value="42">42</option>
											<option value="42.5">42.5</option>
											<option value="43">43</option>
											<option value="44">44</option>
											<option value="45">45</option>
										</select>
									</div>
								</div>
								<div class="form-group ">
									<div class="input-group">
										<input type="text" name="color" class="form-control" style="height:35px" placeholder="颜色" value=""/>
									</div>
								</div>
								<div class="form-group ">
									<div class="input-group">
										<input type="text" name="sku" class="form-control" style="height:35px" placeholder="商品编码" value=""/>
									</div>
								</div>
								<div class="form-group">
									<button class="btn btn-primary btn-single searchBtn" style="height:38px">查询</button>
								</div>
							</form>
						</div>
						<div class="box-body">
							<div class="table-responsive">
								<table class="table table-bordered table-striped" id="example-1">
								</table>
							</div>
						</div>
						<!-- /.box-body -->
						<div class="box-footer">
							<button class="btn btn-info delete">删除</button>
						</div>
						<!-- /.box-footer-->
					</div>
				</div>
			</div>
		</section>
	</div>

	<footer th:replace="footer"></footer>
</div>
<div class="modal fade" id="modal-delete">
	<div class="modal-dialog">
		<div class="modal-content">
			<div class="modal-header">
				<button type="button" class="close" data-dismiss="modal" aria-hidden="true">&times;</button>
				<h4 class="modal-title">温馨提示</h4>
			</div>
			<div class="modal-body">
				请确认要删除该商品库存吗？
			</div>
			<div class="modal-footer">
				<button type="button" class="btn btn-white" data-dismiss="modal">取消</button>
				<button type="button" class="btn btn-info submitDel">确定</button>
			</div>
		</div>
	</div>
</div>
<script src="assets/js/jquery-editable-select-master/jquery-editable-select.js"></script>
<script th:inline="javascript">
	/*<![CDATA[*/

	function formatTime(time) {
		return new Date(time).Format("yyyy-MM-dd hh:mm:ss");
	}

	function formatDate(time) {
		return new Date(time).Format("yyyy-MM-dd");
	}

	function buildImg(url) {
		return "<img width='48px' height='48px' src='#' />".replace("#", url);
	}

	var qiniuUrl = [[${qiniuUrl}]];
	jQuery(document).ready(function ($) {
		$("#brandId").editableSelect();
		var oTable = $("#example-1").dataTable({
			language: {
				url: "../assets/Chinese.txt"
			},
			bFilter: false,
			bServerSide: true,//服务器处理分页，默认是false，需要服务器处理，必须true
			sAjaxDataProp: "aData",//是服务器分页的标志，必须有
			sAjaxSource: "/stock-data",//通过ajax实现分页的url路径。
			fnServerParams: function (aData) {
				var searchArray = $(".form-inline").serializeArray();
				var brandId = $("#brandId").parent().find("li.es-visible").val();
				if (brandId != "0") {
					searchArray.push({"name": "brandId", "value": brandId});
				} else {
					searchArray.push({"name": "brandId", "value": ""});
				}
				$.merge(aData, searchArray);
			},
			order: [[0, "desc"]],
			columnDefs: [
				{
					targets: 0,
					data: "id",
					width: "5%",
					orderable: false,
					title: '<div class="checkbox"><input type="checkbox" id="checkbox-all"><label for="checkbox-all"></label></div>',
					render: function (data, type, full, meta) {
						var uuid = UUID.randomUUID();
						return '<div class="checkbox"><input type="checkbox" name="stockId" id="UUID" value="DATA"><label for="UUID"></label></div>'.replace(/UUID/g, uuid).replace("DATA", data);
					}
				},
				{
					targets: 1,
					data: "id",
					title: "序号"
				},
				{
					targets: 2,
					data: "sku",
					title: "商品编码"
				},
				{
					targets: 3,
					data: "image",
					title: "图片",
					render: function (data, type, row, meta) {
						return buildImg(data);
					}
				},
				{
					targets: 4,
					data: "goodsName",
					title: "商品名称"
				},
				{
					targets: 5,
					data: "brandLogo",
					title: "品牌LOGO",
					render: function (data, type, row, meta) {
						return buildImg(data);
					}

				},
				{
					targets: 6,
					data: "brandName",
					title: "品牌名称"
				},
				{
					targets: 7,
					data: "isOffway",
					title: "是否限定",
					render: function (data, type, row, meta) {
						return "1" == data ? '<span class="badge badge-gray">非限定</span>' : '<span class="badge badge-brown">限定</span>';
					}
				},
				{
					targets: 8,
					data: "size",
					title: "尺码"
				},
				{
					targets: 9,
					data: "color",
					title: "颜色"
				},
				{
					targets: 10,
					data: "stock",
					title: "库存余量",
					render: function (data, type, row, meta) {
						return fmoney(data, 0);
					}
				},
				{
					targets: 11,
					data: "createTime",
					title: "创建时间",
					render: function (data, type, row, meta) {
						return formatTime(data);
					}
				}
			]
		});

		$(".searchBtn").click(function () {
			$("#checkbox-all").attr("checked", false);
			oTable.fnDraw();  //or fnReloadAjax()
			return false;
		});

		$('#example-1').on('click', "#checkbox-all", function () {
			var obj = $(this);
			$("input[name='stockId']").each(function (i, e) {
				this.checked = obj[0].checked;
			});
		});

		$(".btn.btn-info.delete").click(function () {
			var goodsId = $("input[name='stockId']:checked");
			if (goodsId.length < 1) {
				toastr.error("请至少选择一条数据操作", "温馨提示");
				return;
			}
			jQuery('#modal-delete').modal('show', {backdrop: 'fade'});
		});

		$(".btn.btn-info.submitDel").click(function () {
			var goodsId = $("input[name='stockId']:checked");
			var ids = [];
			goodsId.each(function (i, e) {
				ids.push(e.value);
			});
			$.post("/stock-delete", {ids: ids}, function (data) {
				if (data) {
					jQuery('#modal-delete').modal('hide');
					toastr.success("操作已成功！", "温馨提示");
					var iCurrentPage = oTable.fnSettings()._iDisplayStart;
					var oSettings = oTable.fnSettings();
					oSettings._iDisplayStart = iCurrentPage;
					oTable.fnDraw(oSettings);
				} else {
					toastr.error("操作失败，请联系管理员！", "温馨提示");
				}
			})
		});
	});
	/*]]>*/
</script>
</body>
</html>